body {
    font-family: 'Cabin', sans-serif;
}


/*background of the nav bar*/
.backNavBar{
    background-color:#ffffff;
    width:100%;
    height:100%;
}


/*logo coloumn here*/
.logo{
    padding-left: 2em;
}



/*logo font and id tag*/
#myLogo{
font-weight:800;
}


/*nav links div and li below*/
.navItemsDiv{
    width: auto;
}

#navListID li{
    padding: 0;
    margin:0;
}

/*section one...top row*/
.row.mainOne {
    margin-top:5em;
    height: 80vh;
    background-color: #0071EE;
}

/*jumbrton here*/
.jumbotron{
    background:none !important;
    padding-left: 3em;
    text-align:left;
    margin-top: 10em;
    color:#DEF8D6;
}

/*form here top sign up form..div*/
.frm {
    margin-top: 5em;
    padding-right: 3em;
    border-radius: 4%;
}

.formCard {
    background-color: #ffffff;
    border-radius: 4%;
    text-align:center;
}

#topHeaderCard {
    background-color: #3F4A3C;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top-left-radius: 4%;
    border-top-right-radius: 4%;
    color: white;
    
}
.btn {
    padding: 1em !important;
    width: 90%;
    margin-left: 2em;
    background-color: #2BE328 !important;
    border-color: #2BE328 !important;
}

.form-group.a {
}

#e{
    padding-right: 9em;
}

#f{

    padding-right: 7em;
    padding-top: 3em;
}

#l {
    text-align:left;
    padding-top:3em;
}

#L{
   text-align:left;
}

row.h.p{
    padding-right: 9em;
}

.terms{
    padding-bottom: 3em;
    margin-top: 1em;
    text-align:left;
    padding-left: 34px;
}
