body {
    padding: .5em;
    font-family: 'Montserrat', sans-serif;
    width: 100vw; 
}

/* Set padding to keep content from hitting the edges */


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

footer {
    margin-top: 50em;
    position:fixed;
    width: 100%
}
ul a {
    padding: 3em;
    text-align: center;
}

.navbar {
    display: flex;
    background-color: #e8e3e3;
    color: #4e4e4e;
}

li {
    list-style-type: none;
    text-decoration: none;
    align-items: center;
}

    li a:hover {
        list-style-type: none;
        text-decoration: none;
    }

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 22em;
}

.foot{
    padding:1em;
    margin-left: 11em;
}

