
<link href="~/Content/add_about_Style.css" rel="stylesheet" />
@{
    ViewBag.Title = "About";
}

<h2>Select the type of item you would like <span id="word"> <strong> add.</strong> </span></h2>

<div class="row">
    <div class="col-3">
        <div class="img-thumbnail thumb">
            <a href="~/Tops/Create">  <img src="~/Content/iconeOtherpics/icons8-shirt-96.png" /></a>
            <p>top</p>

        </div>
    </div>
    <div class="col-3">
        <div class="img-thumbnail thumb">
            <a href="~/Bottoms/Create">  <img src="~/Content/iconeOtherpics/icons8-jeans-96.png" /></a>
            <p>pants</p>
        </div>
    </div>
    <div class="img-thumbnail thumb">
        <div class="col-3">
            <a href="~/Shoes/Create"> <img src="~/Content/iconeOtherpics/icons8-trainers-96.png" /></a>
            <p>shoes</p>
        </div>
    </div>

    <div class="img-thumbnail thumb">
        <div class="col-3">
            <a href="~/Accesories/Create"> <img src="~/Content/iconeOtherpics/icons8-watches-front-view-80.png" /></a>
            <p>accessories</p>
        </div>
    </div>
</div>
<div class="back">
    <a href="~/Home/Index">
        <img src="~/Content/iconeOtherpics/icons8-back-arrow-64.png" />
    </a>
</div>
