<link href="~/Content/HomeStyle.css" rel="stylesheet" />

@{
    ViewBag.Title = "Home Page";
}

<div class="topHead">
    <h1>My Wordrobe </h1>
    <h3>Your virtual closest</h3>
    <p>Create, Update, and See your wordrobe!</p>
</div>
<div class="row">
    <div class="col-lg-4">
        <div class="beginBtn">
            <a href="~/Outfits/Create" class="btn-2 zoom" type="button" id="button"> <span id="create">Create </span> Outfit&raquo;</a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="beginBtn">
            <a href="~/Outfits/Index" class="btn-2 zoom" type="button" id="button"> <span id="create"> See</span> Outfits&raquo;</a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="beginBtn">
            <a href="~/Home/About" class="btn-2 zoom" type="button" id="button"> <span id="create"> ADD</span> item&raquo;</a>
        </div>
    </div>
</div>